<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mortgages</title>
    <link th:rel="stylesheet" th:href="@{index.css}" />
</head>
<body>
    <div class="webb-app-container">
        <div id="table-header-container">
            <h1 class="webb-app-header">Mortgage Calculations</h1>
            <table class="mortgages">
                <thead>
                    <tr id="mortgages-table-header">
                        <th>Customer</th><th>Total loan</th><th>Interest</th><th>Years</th><th>Monthly Payment</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Use Thymeleaf to loop through the list of mortgages and extract information from each mortgage -->
                    <tr class="customer-row" th:each="mortgage: ${mortgages}">
                        <td id="customer-name" th:text="${mortgage.getCustomerName()}"></td>
                        <td th:text="${mortgage.getTotalLoan()} + ' €'"></td>
                        <td th:text="${mortgage.getAnnualInterestRate() + ' %'}"></td>
                        <td th:text="${mortgage.getLoanPeriod()}"></td>
                        <td th:text="${mortgage.getMonthlyPayment()} + ' €'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>